/* CSS PANEL */
div#ffCssPanelSaveButtonContainer span {
    background: transparent url(chrome://FireFile/skin/firefile_save.png) no-repeat 1px 1px;
    width: 16px;
    height: 16px;
    margin-right: 4px;
}

div#ffCssPanelSaveButtonContainer span:hover {
    background: transparent url(chrome://FireFile/skin/firefile_save_hover.png) no-repeat 1px 1px;
}

div#ffCssPanelSaveButtonContainer span:active {
    background: transparent url(chrome://FireFile/skin/firefile_save_active.png) no-repeat 1px 1px;
}

div#ffCssPanelSaveButtonContainer span.autosave {
    background: transparent url(chrome://FireFile/skin/firefile_autosave.png) no-repeat 1px 1px;
}

div#ffCssPanelSaveButtonContainer span.saving {
    background: transparent url(chrome://FireFile/skin/loading_grey.gif) no-repeat 1px 1px;
}

div#ffCssPanelSaveButtonContainer span.error {
    background: transparent url(chrome://FireFile/skin/firefile_error.png) no-repeat 1px 1px;
}

div#ffCssPanelSaveButtonContainer span.disabled {
    background: transparent url(chrome://FireFile/skin/firefile_nosave.png) no-repeat 1px 1px;
    width: 16px;
    height: 16px;
    margin-right: 4px;
}


/* MAIN PANEL */
div.cssFireFileSiteIconContainer {
    float: right;
    position: absolute;
    right: 0px;
    background: #EEEEEE;
}

span.cssFireFileSiteIcon {
    float: right;
    cursor: pointer;
    display: inline;
    width: 16px;
    height: 16px;
    margin: 0px 0px 0px 6px;
}

span.cssFireFileHostEdit {
    background: url(chrome://FireFile/skin/firefile_label_site.png);
}

.hiddenClass {
	display: none;
}

span.cssFireFileHostConfig {
    background: url(chrome://FireFile/skin/firefile_config_site.png);
}

span.cssFireFileHostDelete {
    background: url(chrome://FireFile/skin/firefile_delete_site.png);
}

span.cssFireFileHostAutoSaveOn {
    background: url(chrome://FireFile/skin/firefile_autosave.png);
}

span.cssFireFileHostAutoSaveOff {
    background: url(chrome://FireFile/skin/firefile_autosave_disabled.png);
}

/* HELP VIEW */
div.cssFireFileIntroduction {
    padding: 0px 0px 8px 8px;
}

/* CHANGES PANEL */
div.cssChangesTopContainer {
    overflow: hidden;
}

span.cssFireFileHostLabel {
    font-weight: normal;
    margin: 0px 0px 0px 4px;
    cursor: pointer;
}

span.cssFireFileHostLabel a {
    color: #999;
}

span.cssFireFileHostLabel a:hover {
    color: #00598E;
    text-decoration: underline;
}

div.cssChangesContainer {
    padding: 0px 4px 2px 4px;
    margin: 0px;
    height: 16px;
    font-family: Lucida Grande, sans-serif;
    font-weight: bold;
    border-bottom: 1px dotted #EEEEEE;
    width: 2000px;
    overflow: hidden;
}


div.cssChangesContainer a{
    display: inline;
    float: left;
    margin: 0px 4px 0px 0px;
}

div.cssChangesContainer span.cssChangesPath {
    clip : auto;
    overflow: hidden;
    float: left;
    font-weight: normal;
    font-style: italic;
    color: #CCCCCC;
}

div.cssChangesContainer:hover span.cssChangesPath {
    color: #999999;
}

div.cssChangesContainer span.fireFileSaveIcon {
    background: url(chrome://FireFile/skin/firefile_save.png);
    float: left;
    cursor: pointer;
    display: inline;
    width: 16px;
    height: 16px;
    margin: 0px 4px 0px 0px !important;
}

div.cssChangesContainer span.fireFileDownloadIcon {
    background: url(chrome://FireFile/skin/firefile_download.png);
    float: left;
    cursor: pointer;
    display: inline;
    width: 16px;
    height: 16px;
    margin: 0px 2px 0px 0px !important;
}

div.cssChangesContainer span.fireFileCancelIcon:hover {
    background: url(chrome://FireFile/skin/firefile_cancel_hover.png);
}

div.cssChangesContainer span.fireFileCancelIcon {
    background: url(chrome://FireFile/skin/firefile_cancel.png);
    float: left;
    cursor: pointer;
    display: inline;
    width: 16px;
    height: 16px;
    margin: 0px 2px 0px 0px !important;
}

div.cssChangesContainer span.fireFileSaveIcon:hover {
    background: url(chrome://FireFile/skin/firefile_save_hover.png);
}

div.cssChangesContainer span.saving {
    background: url(chrome://FireFile/skin/loading.gif) !important;
}

div.cssChangesContainer span.error {
    background: url(chrome://FireFile/skin/firefile_save_error.png) !important;
}

div.cssFireFileSitesPanel span.fireFileAddSiteIcon {
    background: url(chrome://FireFile/skin/firefile_add.png) no-repeat top left;
	color: #AAAAAA;
    float: left;
    cursor: pointer;
    display: inline;
    height: 16px;
	width: 100%;
    margin: 0px 4px 0px 0px !important;
	line-height: 16px;
	padding: 0px 0px 0px 20px;
}

div.cssFireFileSitesPanel span.fireFileAddSiteIcon:hover {
	color: #8F8F8F;
    background: url(chrome://FireFile/skin/firefile_add_hover.png) no-repeat top left;
}

/* HTML CSS PANEL HOOK'n'HACK */
a.objectLink-sourceLink {
    position: relative;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
}

div.cssSourceLinkContainer {
    position: absolute;
    right: 4px;
    top: 2px;
    padding-left: 0px;
    font-family: Lucida Grande, sans-serif;
    font-weight: bold;
    color: #0000FF;
}

div.cssSourceLinkContainer div.fireFileSaveIcon {
    background: url(chrome://FireFile/skin/firefile_save.png);
    float: left;
    cursor: pointer;
    display: inline;
    margin: 0px 0px 0px -18px;
    width: 16px;
    height: 16px;
}

div.cssSourceLinkContainer div.fireFileSaveIcon:hover {
    background: url(chrome://FireFile/skin/firefile_save_hover.png);
}

div.cssSourceLinkContainer div.saving {
    background: url(chrome://FireFile/skin/loading.gif) !important;
}

div.cssSourceLinkContainer div.autosave {
    background: url(chrome://FireFile/skin/firefile_autosave.png) !important;
}

div.cssSourceLinkContainer div.error {
    background: url(chrome://FireFile/skin/firefile_save_error.png) !important;
}

div.ruleCommentLine {
	color: #004AFF;
}